/*FONT DECLARATIONS*/
@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/Oswald-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Oswald-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PatuaOne-Regular.ttf') format('truetype');
}

/*GENERAL DECLARATIONS*/
body {
	font: normal 300 18px 'Oswald';
	color: #555;
}

h1 {
	font: normal 400 55px 'Patua One';
	padding: 30px 0 10px 0;
	color: #555;
}

h2 {
	font: normal 400 30px 'Patua One';
	color: #555;
}

.no-display {
	display: none;
}

.hr {
	height: 1px;
	border-bottom: 1px solid rgba(100, 100, 100, 0.3);
	margin: 0 auto;
}

.modal .close {
	font-size: 30px;
}

/*BACKGROUND DECLARATIONS*/
body {
	background-color: #fafafa;
}

.main {
	background: #83a713 url('../images/main-bgr.jpg') no-repeat center;
	background-size: cover;
	box-shadow: 0 2px 5px 5px #c5c5c5;
}

.articles {
	background-color: #fff;
	box-shadow: 0 0 5px 3px #c5c5c5;
}


/*MAIN TITLE DECLARATION*/
.main {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
}

.main .text-shadow {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	padding: 15px 40px;
	margin: 8vh 30%;
}

.main .hr {
	width: 50px;
}

.main .description {
	padding: 10px 0 40px 0;
}

.main > .btn {
	position: absolute;
	right: 30px;
	top: 8vh;
	color: #555;
	background-color: rgba(255, 255, 255, 0.9);
}

.main > .btn:hover {
	background-color: rgba(255, 255, 255, 1);
}

/*ARTICLES DECLARATION*/
.articles {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.article {
	padding: 50px 20% 40px 20%;
}

.article h2 {
	margin: 0 0 30px 0;
}

.article .description {
	margin: 0 0 40px 0;
}

.article .btn {
	margin: 0 0 80px 0;
}

.articles .modal-footer {
	height: 70px;
}